<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
  <h1>You made it to home</h1>
  <form action="/createAccount" method="POST">
    <input type="text" name="accountName">
    <input type="text" name="accountPassword">
    <button type="submit">create</button>
  </form>
  <form action="/loginAccount" method="POST">
    <input type="text" name="accountName">
    <input type="text" name="accountPassword">
    <button type="submit">Login</button>
  </form>
  <form action="/createParty" method="POST">
    <input type="text" name="accountId" placeholder="accountId">
    <input type="text" name="partyName" placeholder="partyName">
    <button type="submit">Create Party</button>
  </form>
  <form action="/addAccountToParty" method="POST">
    <input type="text" name="accountId" placeholder="accountId">
    <input type="text" name="partyId" placeholder="partyId">
    <button type="submit">Add user to party</button>
  </form>
</body>
</html>